/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fondo negro más oscuro */
    color: #dcdcdc; /* Texto ligeramente gris */
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    color: #f0f0f0; /* Tono más claro */
    letter-spacing: 1.5px;
    margin-bottom: 20px;
	text-shadow: 2px 2px 5px rgba(29, 185, 84, 0.7), /* Sombra más clara */
                 4px 4px 10px rgba(0, 128, 0, 0.5); /* Sombra más oscura */
}

h1{
    font-family: 'Oswald', sans-serif;
    color: #f0f0f0; /* Tono más claro */
    letter-spacing: 1.5px;
    margin-bottom: 20px;
	text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3), /* Sombra blanca muy suave */
                 4px 4px 10px rgba(255, 255, 255, 0.2); /* Sombra blanca difusa y tenue */
}

a {
    text-decoration: none;
    color: #1db954;
}

a:hover {
    color: #1db954; /* Verde brillante */
}

/* Header Styles */
header {
    background-color: #2e2e2e; /* Gris oscuro */
    padding-top: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.menu-box {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #4a4a4a; /* Gris más cálido */
    border-bottom: 5px solid #1db954; /* Línea verde en el borde inferior */
    width: 100%; /* Ancho completo */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Eliminar margen */
    display: flex; /* Alinear los elementos del menú en una fila */
    justify-content: center; /* Centrar el menú */
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative; /* Necesario para el submenú */
}

nav ul li a {
    font-size: 1.0em; /* Tamaño original del menú principal */
    color: #f0f0f0;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #1db954; /* Verde vibrante */
}

/* Submenu Styles */
nav ul li .submenu {
    display: none; /* El submenú está oculto por defecto */
    position: absolute;
    top: 100%; /* Para que aparezca justo debajo del "Inicio" */
    left: 50%;
    transform: translateX(-50%); /* Para centrar el submenú debajo del "Inicio" */
    margin-top: 1px; /* Reduce el margen superior para acercar el submenú */
    background-color: #3a3a3a; /* Fondo del submenú */
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centrar el contenido del submenú */
    min-width: 120px; /* Ancho mínimo del submenú */
}

nav ul li .submenu li {
    display: block; /* Elementos del submenú en bloques verticales */
    margin: 0;
}

nav ul li .submenu li a {
    display: block; /* Asegura que el área del enlace cubra todo el `li` */
    padding: 10px; /* Mantiene un padding uniforme */
    color: #f0f0f0;
    font-size: 0.8em; /* Texto más pequeño para los enlaces del submenú */
    white-space: nowrap;
}

nav ul li .submenu li a:hover {
    background-color: #1db954; /* Cambia el fondo al pasar el ratón por encima */
}

/* Muestra el submenú al pasar el ratón por encima del padre */
nav ul li:hover .submenu {
    display: block;
}


/* Section Styles */
section {
    padding: 40px;
    margin: 30px auto;
    max-width: 900px;
    background-color: #303030; /* Gris intermedio */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 2em;
    color: #1db954;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    color: #cccccc; /* Texto gris claro */
    margin-bottom: 20px;
}

ul {
    margin: 20px 0;
    padding: 0 20px;
}

ul li {
    margin-bottom: 10px;
    color: #b0b0b0;
}

/* Table Styles */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #444; /* Bordes grisáceos */
}

th {
    background-color: #1db954;
    color: #fff;
    font-size: 1.2em;
}

td {
    font-size: 1em;
    color: #c0c0c0;
}

/* Button Styles */
.cta-button {
    display: inline-block;
    background-color: #1db954;
    color: #fff;
    padding: 16px 30px;
    border-radius: 30px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px; /* Espacio encima del botón */
    margin-left: auto; /* Alinea a la izquierda */
    margin-right: auto; /* Alinea a la derecha */
}

.cta-button:hover {
    background-color: #000000;
    transform: translateY(-3px);
}

/* Button Container Style */
.button-container {
    text-align: center; /* Centra el contenido del contenedor */
    margin-top: 20px; /* Espaciado opcional */
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 15px;
    background-color: #2e2e2e; /* Gris oscuro en lugar de negro */
    color: #b0b0b0; /* Texto gris */
    font-size: 0.9em;
    border-top: 1px solid #444; /* Bordes grisáceos */
}

footer p {
    margin: 0;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #e0e0e0;
}

input, select, button {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #444; /* Bordes grises */
    border-radius: 8px;
    background-color: #3a3a3a; /* Fondo gris medio */
    color: #f5f5f5;
    font-size: 1em;
}

input:focus, select:focus {
    border-color: #1db954;
    outline: none;
}

button[type="submit"] {
    background-color: #1db954;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #000000;
    transform: translateY(-3px);
}

/* Responsive Design */
@media (max-width: 768px) {
    section {
        padding: 30px;
        margin: 20px;
    }

    header h1 {
        font-size: 2em;
    }

    nav ul li {
        margin: 0 10px;
    }

    .cta-button {
        padding: 10px 20px;
    }
}

/* Estilos para el contenedor de radio */
.radio-container {
    display: flex; /* Hace que los elementos hijos se alineen en una fila */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    margin-bottom: 20px; /* Espaciado opcional */
}

.radio-container input {
    margin-right: 12.5px; /* Espacio a la derecha de cada botón */
}

.radio-container label {
    margin-right: 30px; /* Espacio entre el botón y su etiqueta */
}

/* Estilos para centrar las imágenes */
.razasimg{
    display: block; /* Cambia la imagen a un bloque */
    margin-left: auto; /* Espacio automático a la izquierda */
    margin-right: auto; /* Espacio automático a la derecha */
    max-width: 100%; /* Asegura que las imágenes no se salgan del contenedor */
    height: auto; /* Mantiene las proporciones originales */
    margin-top: 20px; /* Espacio opcional encima de la imagen */
	border-radius: 10px;
    box-shadow:  0 0 20px rgba(197, 255, 161, 0.882);
}

.caracimg{
    display: block; /* Cambia la imagen a un bloque */
    margin-left: auto; /* Espacio automático a la izquierda */
    margin-right: auto; /* Espacio automático a la derecha */
    max-width: 100%; /* Asegura que las imágenes no se salgan del contenedor */
    height: auto; /* Mantiene las proporciones originales */
    margin-top: 20px; /* Espacio opcional encima de la imagen */
	border-radius: 10px;
}

.checkbox-container {
    display: flex; /* Alinea el checkbox y la etiqueta en una fila */
    align-items: center; /* Alinea verticalmente al centro */
}

.checkbox-container input {
    margin-right: 10px; /* Espacio a la derecha del checkbox */
}

textarea {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #444; /* Borde gris */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #3a3a3a; /* Fondo gris medio */
    color: #f5f5f5; /* Color de texto */
    font-size: 1em; /* Tamaño de fuente */
    resize: vertical; /* Permite redimensionar verticalmente */
}

textarea:focus {
    border-color: #1db954; /* Cambia el color del borde al enfocar */
    outline: none; /* Elimina el contorno por defecto */
}

fieldset {
    border: 2px solid #1db954; /* Borde verde brillante */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
    background-color: #303030; /* Fondo gris intermedio */
}

legend {
    font-size: 1.5em; /* Tamaño de fuente del título */
    color: #8ae58a; /* Color del texto del título */
    padding: 0 10px; /* Espacio a los lados del texto */
    font-weight: bold; /* Texto en negrita */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra sutil para el texto */
}
